Two files has been read features.csv and targets.csv

features.csv contains MCCS values of Sound while targets.csv containes sound name

x=data of features.csv 
y=data of target.csv

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
x=pd.read_csv('C:/Users/shail/Desktop/Study Folder/ITVedant/Machine Learning & Python/ML Competition Project/features.csv')
x.head()

,Sr No,0,1,2,3,4,5,6,7,8,...,118,119,120,121,122,123,124,125,126,127
0,0,-217.35526,70.22338,-130.385270,-53.282898,-21.199130,-22.677622,-10.855970,18.294254,6.652703,...,1.379730,0.213528,-0.411468,-0.675531,-0.347392,-0.034143,-0.641644,0.625670,-0.447248,0.253629
1,1,-424.09818,109.34077,-52.919525,60.864750,0.245292,17.347328,2.095582,10.712965,-1.398613,...,0.174419,-0.619190,-0.213965,-0.315515,0.183529,0.278578,0.129401,-0.470556,0.013517,-0.399829
2,2,-458.79114,121.38419,-46.520660,52.008120,-0.000384,23.783813,8.749806,9.052491,-0.636421,...,-0.021542,0.335363,0.105288,-0.116580,-0.124146,-0.390203,0.022006,0.350506,0.140531,-0.080245
3,3,-413.89984,101.66373,-35.429450,53.036358,1.520217,14.886695,2.878706,7.631294,-2.215483,...,0.224067,-0.116308,0.293997,-0.016943,0.056926,0.153469,0.106105,-0.192144,-0.306979,0.213341
4,4,-446.60352,113.68541,-52.402214,60.302044,2.779428,25.073837,2.803380,10.143700,3.034920,...,0.024161,-0.058449,-0.094212,0.209910,0.083931,0.364835,0.223193,0.005272,0.204853,0.453210

In [3]:
y=pd.read_csv('C:/Users/shail/Desktop/Study Folder/ITVedant/Machine Learning & Python/ML Competition Project/target.csv')
y.head()

   Unnamed: 0                 0
0           0          dog_bark
1           1  children_playing
2           2  children_playing
3           3  children_playing
4           4  children_playing

In [4]:
x.drop('Sr No',axis=1,inplace=True) # Dropping Columns which are of  no use
y.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
def datainfo(a,b):
    print(a.shape,'Rows , Columns')
    print(b.shape,'Rows , Columns')
    x_summary = x.dtypes.value_counts()
    y_summary = y.dtypes.value_counts()
    print()
    print('datatypes :-')
    print(x_summary)
    print()
    print('datatypes :-')
    print(y_summary)
    print()
    print('First Data Info :-')
    a.info()
    print()
    print('Second Data Info :-')
    b.info()

In [6]:
datainfo(x,y)

(8732, 128) Rows , Columns
(8732, 1) Rows , Columns

datatypes :-
float64    128
dtype: int64

datatypes :-
object    1
dtype: int64

First Data Info :-
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8732 entries, 0 to 8731
Columns: 128 entries, 0 to 127
dtypes: float64(128)
memory usage: 8.5 MB

Second Data Info :-
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8732 entries, 0 to 8731
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8732 non-null   object
dtypes: object(1)
memory usage: 68.3+ KB

In [10]:
  
from sklearn.preprocessing import LabelEncoder   # Label incoder for Target File
lb=LabelEncoder()
columns=y.columns
y=lb.fit_transform(y)
data_encoded=pd.DataFrame(y,columns=columns)
y=data_encoded

C:\Users\shail\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
y

      0
0     3
1     2
2     2
3     2
4     2
...  ..
8727  1
8728  1
8729  1
8730  1
8731  1

[8732 rows x 1 columns]

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
columns=x.columns
s_transform=scaler.fit_transform(x)
s_transform=pd.DataFrame(s_transform,columns=columns)
x= s_transform

In [13]:
x

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,0.612784,0.395167,0.141509,0.137231,0.545947,0.279115,0.451166,0.630293,0.731511,0.621182,...,0.630034,0.501252,0.420735,0.510400,0.333385,0.536343,0.559048,0.447013,0.374596,0.586867
1,0.382005,0.509821,0.451988,0.730391,0.694907,0.587275,0.559756,0.541490,0.642079,0.603465,...,0.541843,0.425060,0.437807,0.536459,0.390091,0.573654,0.603153,0.362787,0.410798,0.538013
2,0.343279,0.545120,0.477634,0.684368,0.693201,0.636830,0.615548,0.522040,0.650545,0.591815,...,0.527505,0.512400,0.465403,0.550859,0.357229,0.493862,0.597010,0.425871,0.420778,0.561906
3,0.393389,0.487319,0.522087,0.689711,0.703763,0.568330,0.566322,0.505393,0.633006,0.582433,...,0.545476,0.471072,0.481715,0.558071,0.376569,0.558727,0.601821,0.384178,0.385617,0.583855
4,0.356884,0.522555,0.454061,0.727467,0.712510,0.646763,0.565691,0.534822,0.691326,0.586825,...,0.530849,0.476366,0.448158,0.574491,0.379453,0.583945,0.608518,0.399346,0.425831,0.601788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8727,0.410485,0.586596,0.460783,0.600434,0.637358,0.570049,0.606070,0.613023,0.601184,0.526814,...,0.547385,0.403434,0.417128,0.564689,0.439553,0.458049,0.607641,0.421942,0.413706,0.532865
8728,0.468654,0.442429,0.483053,0.682818,0.467405,0.420507,0.699998,0.410147,0.501810,0.679904,...,0.550826,0.458135,0.514112,0.484272,0.387957,0.595929,0.584934,0.355832,0.471660,0.484699
8729,0.516191,0.515738,0.479955,0.600544,0.629780,0.550839,0.565076,0.532943,0.579356,0.543851,...,0.533014,0.514530,0.370669,0.506803,0.302619,0.570433,0.595176,0.361874,0.360742,0.575182
8730,0.471293,0.557038,0.444036,0.595421,0.556869,0.510324,0.655134,0.523101,0.561272,0.656476,...,0.585777,0.372585,0.433755,0.543559,0.361648,0.604117,0.599312,0.347779,0.387235,0.547088
8731,0.503114,0.467362,0.514901,0.657191,0.646464,0.530803,0.528708,0.632836,0.525426,0.561954,...,0.611985,0.595929,0.377708,0.606329,0.471561,0.604368,0.616829,0.420339,0.327521,0.557023

In this programme we cannot delete outliers as every wavelenth of sound is different if we delete outliers sound waves will became same for every sound. There will no difference.

In [14]:
data=x.append(y)

C:\Users\shail\AppData\Local\Temp\ipykernel_20864\1868750589.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=x.append(y)

In [15]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,0.612784,0.395167,0.141509,0.137231,0.545947,0.279115,0.451166,0.630293,0.731511,0.621182,...,0.630034,0.501252,0.420735,0.510400,0.333385,0.536343,0.559048,0.447013,0.374596,0.586867
1,0.382005,0.509821,0.451988,0.730391,0.694907,0.587275,0.559756,0.541490,0.642079,0.603465,...,0.541843,0.425060,0.437807,0.536459,0.390091,0.573654,0.603153,0.362787,0.410798,0.538013
2,0.343279,0.545120,0.477634,0.684368,0.693201,0.636830,0.615548,0.522040,0.650545,0.591815,...,0.527505,0.512400,0.465403,0.550859,0.357229,0.493862,0.597010,0.425871,0.420778,0.561906
3,0.393389,0.487319,0.522087,0.689711,0.703763,0.568330,0.566322,0.505393,0.633006,0.582433,...,0.545476,0.471072,0.481715,0.558071,0.376569,0.558727,0.601821,0.384178,0.385617,0.583855
4,0.356884,0.522555,0.454061,0.727467,0.712510,0.646763,0.565691,0.534822,0.691326,0.586825,...,0.530849,0.476366,0.448158,0.574491,0.379453,0.583945,0.608518,0.399346,0.425831,0.601788

In [16]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.8,random_state=4)

In [19]:
xtrain.to_csv('xtrain.csv')
xtest.to_csv('xtest.csv')
ytrain.to_csv('ytrain.csv')
ytest.to_csv('ytest.csv')